#__MSG_@@extension_id__-overlay {
    background-image: url('chrome-extension://__MSG_@@extension_id__/icons/work_full.png'),
                      -webkit-linear-gradient(bottom, #ccc 0%, #fff 75%);
    background-position: center 64px, top;
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: #222;
    display: block;
    font: normal normal normal 16px/1 sans-serif;
    left: 0;
    height: 100%;
    padding: 200px 1em 1em;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    /* Believe it or not, this is the largest z-index that Chrome 35 won't
     * overflow to 0. So, this is how we win the z-index wars - unless someone
     * else tries the same thing ;P It seems kinda weird to be this nuclear,
     * but the point *is* to overlay all other content on the page, even if it
     * came from another extension. For what it's worth, we considered hiding
     * all other elements to avoid this war, but that also resets Flash and
     * other plugins, and it'd be nice to avoid losing work where possible. */
    z-index: 179769313486231479999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

#__MSG_@@extension_id__-overlay p {
    margin: 0 0 1em 0;
}